html, body {
  height: 100%;
  width: 100%;
  box-sizing: border-box;
  background-color: #e7e7dc;
}
.backpic {
  width: 100%;
  height: 600px;
  box-sizing: border-box;
  position: absolute;
  top: 0;
}


.header {
  background-color: transparent;
  box-sizing: border-box;
  width: 100%;
  height: 100px;
  display: flex;
  border: none;
  position: absolute;
  top: 0;
  left: 0;
}

.showing {
  box-sizing: border-box;
  width: 100%;
  height: 80px;
  background-color: #e4cbbc;
  opacity: .9;
  display: flex;
  border-bottom: 3px solid black;
  position: fixed;
  top: 0;
  left: 0;
  transition-duration: 1s;
  transition-timing-function: ease-in-out;
}

.wrapper {
  height: 100%;
}


.elementcontainer {
  display: flex;
  justify-content: space-around;
  align-self: center;
  width: 100%;
  font-size: x-large;
  font-family: sans-serif;
}


.showing .elementcontainer {
  color: #101f38;
  text-decoration: none;
  display: flex;
  justify-content: space-around;
  align-self: center;
  font-size: 25px;
  transition-duration: 2s;
  transition-timing-function: ease-in-out;
}


.elementcontainer img {
  display: flex;
  align-self: center;
}


.elementcontainer a {
  color: #101f38;
  text-decoration: none;
  display: flex;
  justify-content: space-between;
  font-size: 25px;
  transition-duration: 2s;
  transition-timing-function: ease-in-out;
}

.logocontainer{
    width: 72%;
    height: 100%;
    display: flex;
    justify-content: flex-end;
    position: fixed;
    top: 10px;
    box-sizing: border-box;
    transition-duration: 1s;
    transition-timing-function: ease-in-out;
}
.logo {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  width: 50%;
  position: fixed;
}


.logoshow {
  position: absolute;
  width: 100%;
  top: 10px;
}


.logo img {
   display: flex;
   flex-direction: column;
 }

.logo span {
  box-sizing: border-box;
  color: #101f38;
  display: flex;
  flex-direction: column;
  text-align: center;
}
#events {
  font-size: 50px;
  margin-top: -73px;
  margin-bottom: 20px;
  font-family: cursive;
}

#pde {
  font-size: large;
  font-family: serif;
}

.box-to-box-container {
  width: 100%;
  height: 42px;
  display: flex;
  justify-content: center;
  background-color: white;
}

.box-move {
  border-radius: 5px;
  border: none;
  height: 10px;
  width: 10px;
  display: flex;
  background-color: #101f38;
  align-self: center;
  margin-left: 10px;
}

.body-container-first {
  width: 100%;
  background-color: #e7e7dc;
  box-sizing: border-box;
}

.left-contain {
  float: right;
  text-align: justify;
  letter-spacing: 0.05em;
}

.right-contain {
      width: 60%;
      text-align: justify;
      letter-spacing: 0.05em;
      display: inline-flex;
      box-sizing: border-box;
      padding-bottom: 30px;
}

.right-contain h2 {
  font-size: xx-large;
  font-weight: bolder;
  font-family: sans-serif;
  color: #101f38;
  flex-direction: column;
}

.mission-statement {
  text-align: center;
  padding-right: 6%;
  font-size: x-large;
  font-family: sans-serif;
  display: flex;
  flex-direction: column;
  color: #101f38;
}

.The {
  text-align: center;
  padding-right: 6%;
  font-size: x-large;
  font-family: sans-serif;
  display: flex;
  flex-direction: column;
  color: #7dc6b6;

}

.Plan {
  text-align: center;
  padding-right: 6%;
  font-size: x-large;
  font-family: sans-serif;
  display: flex;
  flex-direction: column;
  color: #e4cbbc;
}

.Mission {
  text-align: center;
  padding-right: 6%;
  font-size: x-large;
  font-family: sans-serif;
  display: flex;
  flex-direction: column;
  color: #101f38;
}

.img-one {
  display: inline-flex;
  flex-direction: column;
    padding-top: 35px;
    z-index: -1;
}

.w6-btn a{
  display: inline-flex;
  display: block;
  flex-direction: column;
  text-decoration: none;
  background-color: #101f38;
  border: 3px solid #e4c8b5;
  height: 40px;
  margin-top: -45px;
  color: #e7e7dc;
  font-size: xx-large;
  text-align: center;
  font-family: cursive;
  line-height: 1.2em;
}

.img-two {
  display: inline-flex;
  flex-direction: column;
  z-index: -1;
  position: absolute;
  padding-top: 35px;
  right: 60px;
}

.img-two a{
  display: inline-flex;
  flex-direction: column;
  text-decoration: none;
  background-color: #101f38;
  border: 3px solid #e4c8b5;
  height: 40px;
  color: #e7e7dc;
  font-size: xx-large;
  text-align: center;
  font-family: cursive;
  z-index: 1;
  margin-top: -15%;
  line-height: 1.2em;
}

.body-last {
  width: 100%;
  height: 400px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-size: 25px;
  background-color: white;
}

.body-last a {
  text-decoration: none;
  font-size: xx-large;
  color: #7dc6b6;
}

.linksin a {
  text-decoration: none;
  font-size: 35px;
  color: #e4c8b5;
}

.acadamy {
  height: 80%;
  align-self: center;
  display: inline-flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  border-right: 1px solid black;
  padding-left: 1%;
}

.social-media {
  height: 80%;
  align-self: center;
  display: inline-flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  padding-right: 1%;
  border-right: 1px solid black;
  padding-right: 6%;
}

.read-blog {
  height: 400px;
  display: inline-flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  padding-right: 3%;
}

.footer {
  box-sizing: border-box;
  width: 100%;
  height: 100px;
  display: flex;
  border: none;
  bottom: 0;
}

.elementcontainer1 {
  display: flex;
  justify-content: space-around;
  align-self: center;
  width: 100%;
  font-size: large;
  font-family: sans-serif;
  padding-left: 40%;
}
.elementcontainer1 div {
  color: #101f38;
  text-decoration: none;
  display: flex;
  z-index: 1;
}
